# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
TOKEN_SECRET=sachinandan


# DEBUG="*";

# if you update model - (prisma migrate dev --name added_job_title) - ref. https://www.prisma.io/docs/orm/prisma-migrate/getting-started
# Whenever you update your Prisma schema, you will have to update your database schema using either (prisma migrate dev or prisma db push). This will keep your database schema in sync with your Prisma schema. The commands will also regenerate Prisma Client. ref. https://www.prisma.io/docs/getting-started/setup-prisma/start-from-scratch/relational-databases/install-prisma-client-typescript-postgresql